---
import { fade } from 'astro:transitions'
import { ViewTransitions } from 'astro:transitions'
import BaseHead from '@/components/BaseHead.astro'
import Header from '@/components/Header.vue'
import Footer from '@/components/Footer.vue'
import ScrollToTop from '@/components/ScrollToTop.vue'
import MagneticBackground from '@/components/MagneticBackground.astro'

const { ...head } = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead {...head} />
    <ViewTransitions />
  </head>
  <body class="text-main min-h-screen font-sans w-full">
    <MagneticBackground />
    <div id="content">
      <Header client:load />
      <main
        class="grow max-w-3xl mx-auto sm:pt-36 pt-26 pb-16 px-6 relative"
        transition:animate={fade({ duration: '0.4s' })}
      >
        <slot />
        <ScrollToTop client:load />
        <Footer />
      </main>
    </div>
    <script>
      import { magneticBackgroundStore } from '../stores/magneticBackgroundStore'

      document.addEventListener('astro:after-swap', () => {
        const canvas = document.getElementById(
          'magnetic-canvas',
        ) as HTMLCanvasElement
        if (canvas) {
          magneticBackgroundStore.init(canvas)
        }
      })
    </script>
  </body>
</html>
